<!-- HEADER -->
<div class="header group">
  <div class="clearfix">
    <!--
    <div class="social">
      <ul>
  		  <li><a href="#" class="fb">Facebook</a></li>
  		  <li><a href="#" class="lin">LinkedIn</a></li>
  		  <li><a href="#" class="twit">Twitter</a></li>
  	  </ul>
  	</div>
    -->
    <div class="logo">
      <h1><a href="/">LOGDOWN PRESS </a></h1>
    </div>
  </div>
  
  <div class="other-books">
    <ul class="book-list">
      <li> <%= link_to("Rails 101", "/books/1-rails-101")%> | </li>
      <li> <%= link_to("Essential Rails Design Patterns", "/books/3-essential-rails-pattern")%> | </li>
      <li> <%= link_to("SEO for Rails", "/books/2-seo-for-rails")%> | </li>
      <li> <%= link_to("Compass 101", "/books/todo")%> | </li>
      <li> <%= link_to("Rails Performance Tuning", "/books/todo")%> </li>
    </ul>
  </div>
</div><!-- /header -->