---
title: Rails 101 - 火速學會 Ruby on Rails
---

<!-- INTRO -->
<div class="intro group">
    <%= image_tag("rails-101-cover.png", :class => "book" )%>
    
		<h2> Rails 101 - 火速學會 Ruby on Rails</h2>
		<p>學習曲線過高往往是有志於學習 Ruby on Rails 的開發者心中的一抹遺憾。市面上的中文書不知過期了幾年，網路上找到的 Hello World 跑不起來。最誇張的是，光是想裝一套穩當的開發環境在電腦上，卻發現自己完全不得其門而入，做不到！</p>
		<p>我是 <strong>xdite</strong>，台灣知名的資深 Ruby on Rails 程式設計師。07年 自學 Rails 至今。<strong>曾經訓練、帶領多支技術團隊開發過各式各樣的 Rails 專案</strong>。</p>
		<p>
		  在過去的自學過程當中，我意識到 Ruby on Rails 的版本變革過速，是造成開發者培育不易的主要原因。培育一個合格的初級 Rails Developer，企業可能往往要投上數月甚至一年才有所得。
		</p>
		<p>如果能幫新手<strong>弭平各式各樣的超級門檻</strong>，是不是能把長達一年的摸索期，砍到只剩短短的幾個禮拜？最後，我設計了一份超級新手作業(最後變成了本書）。這份作業成功的讓我將新人培育的時間
		<strong>從數月降至兩週以下</strong>。這些開發者，有的甚至<strong>之前從未有過任何網頁開發背景</strong>。
		</p>
		<p>你也想學 Rails 嗎？他們可以，我相信你也辦得到！</p>
  
</div>
	
<!-- PRICE -->
<div class="price group">
  <a href="http://transactions.digitaldeliveryapp.com/products/246/add_to_cart" onclick="addProductToCart(246); return false;" rel="nofollow" target="dda_cart" class="button pdf">
    電子版本<span>$9.99 USD</span>
  </a>
  內含 PDF / Epub 雙版本。習題程式碼。
</div>
	
	<%= partial "money_back"%>

	<!-- FEATURES -->
	<div class="features group">
	
		<div class="feature-box">
			<h2>What You'll Learn</h2>
			<p>你將從本書學到
			  <ul>
			    <li> Git / Command line 基本知識</li>
			    <li> 建置 Bug Free Rails 開發環境 (Mac/Ubuntu)</li>
			    <li> 如何使用 Rails 完成一個具基本功能的 CMS </li>
			    <li> Rails : RESTful </li>
			    <li> Rails : 雙層 Resource 與 Namespace  </li>
			    <li> Rails : 實作使用者認證系統</li>
			    <li> Rails : 實作圖片上傳系統</li>
			    <li> Rails : 利用 Rake 撰寫自動執行的 tasks </li>
			    <li> 如何建置 Bug Free Rails 正式 production 環境</li>
			    <li> 如何撰寫自動佈署 production 腳本</li>
			    <li> Rails 最新線上學習資源</li>
			  </ul>
			</p>
		</div>
		<div class="feature-box">
			<p><%= image_tag("toc.png")%></p>
		</div>
	
	</div>
	
	<!-- SAMPLES -->
	<div class="samples group">
		
		<div class="carousel">
		  <%= link_to("previous", "#", :class => "buttons prev")%>
			<div class="viewport">
        <ul class="overview">

        	<li>
        	  <a href="/images/01_bugfree.png" rel="fancybox"><img src="/images/01_bugfree_thumb.png" alt="" /></a> 
        	  <a href="/images/01_bugfree_next.png" class="zoom" rel="fancybox">Zoom</a>
        	</li>

        	<li>
            <a href="/images/01_crud.png" rel="fancybox"><img src="/images/01_crud_thumb.png" alt="" /></a> 
            <a href="/images/01_crud_next.png" class="zoom" rel="fancybox">Zoom</a>
          </li>

        	<li>
            <a href="/images/01_rake.png" rel="fancybox"><img src="/images/01_rake_thumb.png" alt="" /></a> 
            <a href="/images/01_rake_next.png" class="zoom" rel="fancybox">Zoom</a>
          </li>

        	<li>
        	  <a href="/images/01_deploy_vps.png" rel="fancybox"><img src="/images/01_deploy_vps_thumb.png" alt="" /></a> 
        	  <a href="/images/01_deploy_vps_next.png" class="zoom" rel="fancybox">Zoom</a>
        	</li>
        </ul>
			</div>
			
			<%= link_to("next", "#", :class => "buttons next")%>
			
		</div>
							
	</div><!-- /samples -->
