<div class="featurebox">
<h3>About</h3>
<p>
    <%= link_to("Why write this book?","/books/1-rails-101/about")%> (EN) 
    <br>
    <strong>Owning basic Rails in 7 Days!</strong>
</p>
<p>
    <%= link_to("此書緣起", "/books/1-rails-101/about?locale=zh-tw")%> (ZH-TW)
    <br>
    <strong>七天學會 Rails 基礎開發技能!</strong>
</p>
</div>

<div class="featurebox">
<h3>Rails Tuesday in Taiwan</h3>
<p>
    <%= link_to("Every Tuesday 19:30 in Xingtian Temple Station","http://registrano.com/groups/46/events") %>
    
</p>
</div>
<div class="featurebox">
<h3>Table of Content</h3>
<ul>
    <li> <%= link_to("TOC in English", "https://www.dropbox.com/s/qu274yyzoeyql9i/rails-101-en-2011-06-22-toc.pdf")%>
    <li> <%= link_to("Sample Chapter in English","https://www.dropbox.com/s/2bnsqv0coua4zk6/rails-101-en-2011-06-22-sample.pdf")%>
    <li> <%= link_to("TOC in Chinese", "https://www.dropbox.com/s/h9yxhdt5na4ak7e/rails-101-zh-tw-2011-06-22-toc.pdf")%></li>
    <li> <%= link_to("Taiwan ATM Solution","http://www.pubu.com.tw/document/6109")%> </li>
    <li> <%= link_to("TOC for China", "http://www.megaupload.com/?d=JBOI3P6R")%></li>
    
</ul>
</div>