<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Rails 101</title>
<%= stylesheet_link_tag "main.css" %>
<%= javascript_include_tag "common.js" %>
<%= csrf_meta_tag %>
</head>
<body id="type-c">
<div id="wrap">

	<div id="header">
		<div id="site-name">
		  xdite' BookStore
		</div>

        <%= render :partial => "common/nav" %>
	</div>
	
	<div id="content-wrap">
	    
		<div id="utility">
            <%= render :partial => "common/utility" %>
		</div>
		
		<div id="content">
		
			<div id="breadcrumb">
		        <%=raw render_breadcrumbs %>
			</div>
			
			
            <%= yield %>
            
			<div id="footer">

			</div>
			
		</div>
		
		<div id="sidebar">
            <%= render :partial => "common/sidebar_for_general"%>
		</div>
		
		<div id="poweredby"><a href="http://farcry.daemon.com.au/"><img src="wsimages/mollio.gif" alt="FarCry - Mollio" /></a></div>
		
	</div>
	
</div>

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-23789321-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>

</body>
<!--
Copyright: Daemon Pty Limited 2006, http://www.daemon.com.au
Community: Mollio http://www.mollio.org $
License: Released Under the "Common Public License 1.0", 
http://www.opensource.org/licenses/cpl.php
License: Released Under the "Creative Commons License", 
http://creativecommons.org/licenses/by/2.5/
License: Released Under the "GNU Creative Commons License", 
http://creativecommons.org/licenses/GPL/2.0/
-->
</html>